html{
   background-color:seashell;
}

body{
    margin: 0;
    width:auto;
    background-color:rgb(225, 243, 174);
    border: 2.5px solid black;
}

.cabecera{
    overflow: hidden;
    width: auto;
    background-color:rgb(161, 201, 235);
    border: 1.5px solid black;
}

h1{
    margin: 0;
    padding-bottom: 2%;
    text-align: center;
    color:steelblue;
    font-size: 3vw; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */   
    text-shadow: 3px 3px 1px black;
}

img{
    float:left;
    margin-top: -6%;
    margin-left: 8%;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    overflow:hidden;
  }

.botones {
    text-align: center;
    margin-right: 18%;
}

.menus{ 
    padding: 1vw 2vw;
    font-family: monospace;
    color:black;
    font-size: 1vw;
    transition-duration: 0.4s;
    cursor: pointer; 
}