{% extends "padre.html" %}
    {% block css %}  
        <link href="../css/evento.css" rel="stylesheet" type="text/css">
        <script src="../js/javascript.js" defer></script>
    {% endblock %}
    {%block rrss %}
        {{ parent() }}
        <a href="./evento_imprimir.php?ev={{evento['id']}}"><img id= "imprimir" src="../img/imprimir.png"></a>
    {% endblock %}
    {% block central %}
    <!------------------------------------------------------>
    <!-------------------------Evento----------------------->
    <article id="evento-contenedor">
        <div id="info">
            {% if usuario['gestor'] == 1 %}
            <div id="acciones-evento">
                <a href="/editarEvento.php?ev={{ evento['id'] }}"><img id= "editar-evento" src="../img/editar.png"></a>
                <a href="/evento.php?ev={{ evento['id'] }}&borrar_evento=true"><img id= "papelera-evento" src="../img/papelera.png"></a>
            </div>
            {% endif %}
            <h1 id="nombre-evento">{{evento['nombre']}}</h1>
            <h2 id="organizador">Organizada por {{evento['organizador']}}</h2>
            <h3 id="fecha">{{evento['fechainicio']}} al {{evento['fechafin']}}, de {{evento['horainicio']}} a {{evento['horafin']}}</h3>
            <p id="texto">{{evento['descripcion']}}</p>
        </div>
        <div id="imagenes">
            {% for imagen in imagenes %}
                <img id= "img-feria" src="../img/{{imagen['nombre']}}">
                <p class="pie">{{imagen['pie']}}</p>
            {% endfor %} 
        </div> 
        <div id="etiquetas">
            {% for etiqueta in etiquetas %}
                <div id="etiqueta-contenedor">
                    <p><strong>{{etiqueta['texto']}}</strong></p>
                </div>
            {% endfor %}
        </div>
    </article>  
    <!------------------------------------------------------>
    <!-------------------------Galería----------------------->
    <div id='galeria-contenedor'>
        {%for fotografia in galeria %}
            <div id=id-img>
                <img src="../img/{{fotografia['nombre']}}">
            </div>
        {%endfor%}
    </div>
    <!------------------------------------------------------>
    <!-----------------Comentarios-------------------------->
    <div id="comentarios">
        <div id=cabecera-comentarios>
            <a href="javascript:void(0)" id="cerrar">&times;</a>
            <h2 id="titulo-comentarios">Comentarios</h2>
        </div>
        <div id="comentarios-enviados">
            {% for comentario in comentarios %}
                <div class="mensaje-contenedor">
                    <img id= "user" src="../img/user.png">
                    <div id='mensaje'>
                    <h3>{{comentario['autor']}}, {{comentario['email']}} <br>{{comentario['fecha']}} {{comentario['hora']}}</h3>
                    {% if comentario['modificado'] == 1 %}
                        <p><strong>Editado</strong></p>
                    {% endif %}
                    <p>{{comentario['comentario']}}</p>
                </div>
                {% if usuario['moderador'] == 1 %}
                <div id="acciones">
                    <a href="/editarComentario.php?cm={{ comentario['id'] }}"><img id= "editar" src="../img/editar.png"></a>
                    <a href="/evento.php?ev={{ evento['id'] }}&comentId={{ comentario['id'] }}&borrar=true"><img id= "papelera" src="../img/papelera.png"></a>
                </div>
                {% endif %}
                
        </div>
            {% endfor %}
    </div>
    
    {%if identificado == true %}
        <form action="aniadirComentario.php?ev={{ evento['id'] }}" method="post" id="formulario">
                <label>Comentario</label><br>
                <textarea name="comentario" id="comentario" oninput="reemplazarPalabrasFeas('{{palabras|json_encode}}')"></textarea><br> 
                <input type="submit" value="Enviar" id="enviar">
        </form>
        {%endif%}
    </div>
        <span id="icono-comentarios" style="font-size: 30px;cursor:pointer">&#128488;</span> 
    {% endblock %}