{% extends "padre.html" %}
    {% block css %}  
        <link href="../css/evento.css" rel="stylesheet" type="text/css">
        <script src="../js/javascript.js" defer></script>
    {% endblock %}
    {%block rrss %}
        {{ parent() }}
        <a href="./evento_imprimir.php?ev={{evento['id']}}"><img id= "imprimir" src="../img/imprimir.png"></a>
    {% endblock %}
    {% block central %}
    <!------------------------------------------------------>
    <!-------------------------Evento----------------------->
    <article id="feria">
        <div id="info">
            <h1 id="nombre-evento">{{evento['nombre']}}</h1>
            <h2 id="organizador">Organizada por {{evento['organizador']}}</h2>
            <h3 id="fecha">{{evento['fechainicio']}} al {{evento['fechafin']}}, de {{evento['horainicio']}} a {{evento['horafin']}}</h3>
            <p id="texto">{{evento['descripcion']}}</p>
        </div>
        <div id="imagenes">
            {% for imagen in imagenes %}
                <img id= "img-feria" src="../img/{{imagen['nombre']}}">
                <p class="pie">{{imagen['pie']}}</p>
            {% endfor %} 
        </div> 
    </article>  
    <!------------------------------------------------------>
    <!-------------------------Galería----------------------->
    <div id='galeria-contenedor'>
        {%for fotografia in galeria %}
            <div id=id-img>
                <img src="../img/{{fotografia['nombre']}}">
            </div>
        {%endfor%}
    </div>
    <!------------------------------------------------------>
    <!-----------------Comentarios-------------------------->
    <div id="comentarios">
        <div id=cabecera-comentarios>
            <a href="javascript:void(0)" id="cerrar">&times;</a>
            <h2 id="titulo-comentarios">Comentarios</h2>
        </div>
        <div id="comentarios-enviados">
            {% for comentario in comentarios %}
                <div class="mensaje-contenedor">
                    <img id= "user" src="../img/user.png">
                    <div id='mensaje'>
                    <h3>{{comentario['autor']}}, {{comentario['email']}} <br>{{comentario['fecha']}} {{comentario['hora']}}</h3>
                    <p>{{comentario['comentario']}}</p>
                </div>
        </div>
            {% endfor %}
    </div>
    
    {%if identificado == true %}
        <form id="formulario">
            <label for="fname">Nombre</label><br>
                <input type="text" id="usuario"><br>
                <label for="email">E-mail</label><br>
                <input type="email" id="mail"><br>
                <label>Comentario</label><br>
                <textarea id="comentario" oninput="reemplazarPalabrasFeas('{{palabras|json_encode}}')"></textarea><br> 
                <input type="button" value="Enviar" id="enviar">
        </form>
        {%endif%}
    </div>
        <span id="icono-comentarios" style="font-size: 30px;cursor:pointer">&#128488;</span> 
    {% endblock %}