<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Inés Nieto Sánchez">
        <title>Agapea</title>
        {% block css %}

        {% endblock %}
    </head>
    <body>
        <!---------------------Sección de inicio--------------------------------------------------------->
        <div id="pag-contenedor">
            <!-------------------------Menú----------------------->
            {% block logo %}

            {% endblock %}
            <ul id="menu-contenedor">
                <img id= "logo-negro" src="../img/icono_negro.png">
                <p id="nombre">Agapea</p>
                <li> <a href='./portada.php#inicio' id="inicio-enlace">Inicio</a></li>
                <li> <a href='./portada.php#eventos' id="eventos-enlace">Eventos</a></li>
                {% if usuario['gestor'] == 1 %}
                    <li><a href='listaEventos.php'>Lista de eventos</a></li>
                {% endif %}
                {%if usuario['super'] == 1 %}
                    <li><a href='editarPermisos.html'>Lista de Usuarios</a></li>
                {% endif %}
                {%if usuario['moderador'] == 1 %}
                    <li><a href='listadoComentarios.php'>Comentarios</a></li>
                {% endif %}
                <li> <a href='#contacto-contenedor' id="contacto-enlace">Contacto</a></li>     

                {%if identificado == false %}
                <div id='accion'>
                    <a id='iniciar-sesion' href="login.php">Iniciar Sesión</a>
                    <a id='registrarse' href="registrarse.php">Registrarse</a>
                </div>
                {%endif%}

                {%if identificado == true %}
                <div id='accion'>
                    <a id='perfil' href="perfil.php">Perfil</a>
                    <a id='cerrar-sesion' href="logout.php">Cerrar Sesión</a>
                </div>
                {%endif%}
            </ul>  
            <!------------------------------------------------------>
            <!-------------------------RRSS-------------------------> 
            <nav id="rrss-contenedor">
                <div id="rrss-imagenes">
                    {%block rrss %}
                    <a href="https://twitter.com/"><img id= "twitter" src="../img/twitter.png"></a> 
                    <a href="https://www.instagram.com/"><img id= "instagram" src="../img/instagram.png"></a>
                    <a href="https://es-es.facebook.com/"><img id= "facebook" src="../img/facebook.png"></a>
                    {% endblock %}
                </div>
            </nav> 

            {% block central %}

            {% endblock %}
        <!--------------------------------------------------------------------------------------------->  
            <footer id="contacto-contenedor">
                <div id="copyright">
                    Copyright Inés Nieto Sánchez 2021
                </div>
                <div id="email">
                    Email: ins26@correo.ugr.es
                </div>
            </footer>
        </div>
    </body>
</html> 
