{% extends "padre.html" %}
    {% block css %}
        <link href="../css/portada.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block central %}

        <!-----------------------Buscador----------------------->
        <form id="buscador-contenedor">
            <input id="buscador" type="text" size="25" onkeyup="searching(this.value)" placeholder="Buscar">
            <div id="resultados"></div>
        </form>
        <!------------------------------------------------------>
        <!-----------------------Portada------------------------>
        <div id="portada">
            <h1 id="nombre-pagina">
            <img id= "logo-blanco" src="../img/icono_blanco.png">
            <div class="titulo">
                <p id="nombre-principal">Agapea</p>
                <p id="nombre-secundario">Ferias del libro</p>
            </div>
            </h1> 
            <div id="cita-contenedor">
                <p id="cita">"Cuanto menos se lee, más daño hace lo que se lee."<br><id=autor>Miguel de Unamuno</id></p>
            </div>  
        </div> 
        <!--------------------------------------------------------------------------------------------->
        </div>
        <!--------------------------------------------------------------------------------------------->
        <!---------------------Sección de eventos------------------------------------------------------>
        <div id="eventos">
            <div id='cabecera-eventos'>
                <h2 id="subtitulo-eventos">Eventos</h2>
                {%if usuario['gestor'] == 1 %}
                <a href='../aniadirEvento.php'><img id= "aniadir" src="../img/aniadir.png"></a>
                {%endif%}
            </div>
            <div id="eventos-iconos">
            {% for evento in eventos %}

                {% if evento['publicado'] == 1  %}
                    <a href="./evento.php?ev={{evento['id']}}"  style="background-image: url(../img/{{evento['icono']}});" class="item" id="icono">
                        <div class = 'texto'>{{evento['nombre']}}, {{evento['fechainicio']}} al {{evento['fechafin']}}</div>
                    </a>
                {% elseif usuario['gestor'] == 1 %}
                    <a href="./evento.php?ev={{evento['id']}}"  style="background-image: url(../img/{{evento['icono']}});" class="item" id="icono">
                        <div class = 'texto'>{{evento['nombre']}}, {{evento['fechainicio']}} al {{evento['fechafin']}}</div>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div> 
    {% endblock %}
